<h2><%= @cocktail.name %></h2>
<% @cocktail.doses.each do |dose| %>
  <%= dose.description %>
  <%= dose.ingredient.name %>
<% end %>

<%= link_to "Back to cocktails", cocktails_path %>
<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>

